<div class="page-header" style="width:1040px">
  <h1 class="title">It's Me Trial VJs in Vietnam (Tờ khai dành cho VJ thử việc tại Việt Nam) </h1>
</div>
<div class="container" style="width: 1040px">
  <p>
    Tờ khai này nhằm ghi lại thông tin thanh toán cho các VJ thử nghiệm tại Việt Nam. Xin vui lòng cung cấp đầy đủ và chi tiết mọi thông tin, nếu không chúng tôi sẽ không thể thực hiện thanh toán cho bạn
  </p>
  <%= simple_form_for @idol_info, url: action_guest_index_path, method: :post do |f| %>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :fullname, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :gender,
          :collection => [['female', 'Nữ'], ['male', 'Nam'], ['fabulous', 'Khác']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :itsme_nickname, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :itsme_id, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :email, as: 'email', input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :identification, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :address, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :phone, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :dob, as: 'string', input_html: {class: 'form-control datepicker', placeholder: 'DD/MM/YYYY'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :facebook, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :fb_follwers_number, as: 'integer', input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :zalo, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :instagram, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :others, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :os,
          :collection => [['ios', 'IOS'], ['android', 'Android'], ['window phone', 'Window Phone'], ['fabulous', 'Khác']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
      <div class="col-sm-6">
        <%= f.input :cellphone_model, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :time_of_start_streaming, input_html: {class: 'form-control timepicker', placeholder: '08:00 PM'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :time_of_end_streaming, input_html: {class: 'form-control timepicker', placeholder: '11:00 PM'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :content_of_streaming, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :nextwork_for_streaming,
          :collection => [['wifi', 'Wifi'], ['4G', '4G'], ['3G', '3G'], ['4G and wifi', 'Bằng cả Wifi và 4G tùy vào từng thời điểm']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :nextwork_speed, input_html: {class: 'form-control'} %>
        <label>
          Nhấp chuột vào đường dẫn http://www.speedtest.net/, sau đó sao chép lại kết quả tại đây e.g <a href="http://www.speedtest.net/my-result/5284948232" target="_blank">http://www.speedtest.net/my-result/5284948232</a> , ví dụ tốc đăng tải từ điện thoại của tôi là 3.84 Mbps (tốc độ đăng tải của VJ phải trên 1Mbps
        </label>
      </div>
      <div class="col-sm-6">
        <%= f.input :update_avatar,
          :collection => [[true, 'Có'], [false, 'Không']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :good_lightening,
          :collection => [[true, 'Có'], [false, 'Không']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
      <div class="col-sm-6">
        <%= f.input :getting_start, as: 'string', input_html: {class: 'form-control', placeholder: 'DD/MM/YYYY'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :payment_method,
          :collection => [['Bank Transfer', 'Chuyển tiền qua ngân hàng']],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true %>
      </div>
      <div class="col-sm-6">
        <%= f.input :account_holder, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :bankname, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :account_number, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :routing_number, input_html: {class: 'form-control'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :bank_address, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :swift_code, input_html: {class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= link_to "Điều khoản & chính sách tham gia It's Me", policy_home_index_path, target: '_blank' %>
        <%= f.input :accept,
          :collection => [[true, 'Tôi đồng ý với các điều khoản trên']],
          :label_method => :last,
          :value_method => :first,
          :as => :check_boxes,
          :item_wrapper_class => 'inline',
          :checked => true, label: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <%= f.button :submit, 'GỬI THÔNG TIN', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

  <% end %>
</div>
