<%= form_for @rank, url: update_rank_logged_index_path(@rank), method: :post, :remote => true, html: {class: 'formtastic form-edit-rank'} do |f| %>
  <fieldset class="inputs">
    <legend><span>Rank Information</span></legend>
    <table class="table">
      <tr>
        <td><%= f.label :idol %></td>
        <td>
          <%= f.select :idol_id, Idol.all.map{ |member| [member.name, member.id]}, { include_blank: 'Select Idol', :multiple => false}, class: 'select-idol' %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :all_rank %></td>
        <td><%= f.number_field :all_rank %></td>
      </tr>
      <tr>
        <td><%= f.label :month_rank %></td>
        <td><%= f.number_field :month_rank %></td>
      </tr>
      <tr>
        <td><%= f.label :week_rank %></td>
        <td><%= f.number_field :week_rank %></td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li class="action input_action " id="rank_submit_action">
        <input type="submit" name="commit" value="Update Rank">
      </li>
      <li class="cancel" id="rank_cancel_action">
        <input onclick="$('.form-edit-rank').remove();" type="button" name="commit" value="Cancel">
      </li>
    </ol>
  </fieldset>
<% end %>
<script type="text/javascript">
  $('form.form-edit-rank').bind('ajax:success', function (evt, data, status, xhr) {
    if (data != true) {
      $('.messages').html(data);
    } else {
      location.reload();
    }
  });
</script>