<%= form_for @idol, url: logged_path, method: :put, :remote => true, html: {class: 'formtastic form-edit'} do |f| %>
  <fieldset class="inputs">
    <legend><span>Idol Information</span></legend>
    <table class="table">
      <tr>
        <td><%= f.label :idol_name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><label>It's Me Nick Name</label></td>
        <td><%= f.text_field :nickname %></td>
      </tr>
      <tr>
        <td><label>It's Me ID</label></td>
        <td><%= f.text_field :itsme_id %></td>
      </tr>
      <tr>
        <td><label>Rank</label></td>
        <td><%= f.number_field :rank %></td>
      </tr>
      <tr>
        <td><%= f.label :birthday %></td>
        <td><%= f.text_field :birthday %></td>
      </tr>
      <tr>
        <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <td><%= f.label :facebook %></td>
        <td><%= f.text_field :facebook %></td>
      </tr>
      <tr>
        <td><%= f.label :instagram %></td>
        <td><%= f.text_field :instagram %></td>
      </tr>
      <tr>
        <td><%= f.label :intro %></td>
        <td><%= f.text_field :bio %></td>
      </tr>
      <tr>
        <td><%= f.label :avatar %></td>
        <td>
          <%= f.file_field :avatar %>
          <%= image_tag @idol.avatar.url, width: '150' %>
        </td>
      </tr>
      <tr>
        <td>Other photos</td>
        <td>
          <div id="photos">
            <%= f.fields_for :photos do |photo| %>
              <%= render 'photo_fields', f: photo %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Add photo', f, :photos %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li class="action input_action " id="idol_submit_action">
        <input type="submit" name="commit" value="Update Idol">
      </li>
      <li class="cancel" id="idol_cancel_action">
        <input onclick="$('.form-edit').remove();" type="button" name="commit" value="Cancel">
      </li>
    </ol>
  </fieldset>
<% end %>
<script type="text/javascript">
  $('form.form-edit').bind('ajax:success', function (evt, data, status, xhr) {
    if (data != true) {
      $('.messages').html(data);
    } else {
      location.reload();
    }
  });
</script>