<div class="page-header" style="width:1040px">
  <h1 class="title">Change Password</h1>
</div>
<div class="container" style="width: 1040px">
  <%= form_for(@user, method: :post, :url => update_password_logged_index_path, :html => { :role => 'form'}) do |f| %>
    <% if @user.errors.full_messages.present? %>
      <ul class="list-message-error alert alert-danger">
          <% @user.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
          <% end %>
      </ul>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <div class="row">
      <div class="col-sm-12">
        <label class="col-sm-4">Current Password (*)</label>
        <div class="col-sm-8">
          <%= f.password_field :current_password, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label class="col-sm-4">New Password (*)</label>
        <div class="col-sm-8">
          <%= f.password_field :password, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label class="col-sm-4">New password confirmation(*)</label>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
        <button type="submit" class="btn btn-primary btn-submit">Save Changes</button>
        </div>
      </div>
    </div>
  <% end %>
</div>