<div class="page-header" style="width:780px">
  <h1 class="title">Top Idols</h1>
</div>
<div class="container" style="width: 1040px">
    <div class="row">
        <div class="col-sm-9">
            <% @idols.each do |idol| %>
                <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                    <%= link_to idol_path(idol), class: '' do %>
                        <span style="background-image:url(<%= asset_url(idol.avatar.url) %>);background-position: 10px 10px;background-repeat: no-repeat;" class="idol-image"></span>
                        <div class="ranking">
                            <h4 class="idol-name">
                            <div class="col-sm-7 text-left">
                                <%= idol.nickname.blank? ? idol.name : idol.nickname %>
                            </div>
                            <div class="col-sm-5 text-right">
                                <% unless idol.rank.nil? %>
                                    <span class="idol-rank">Rank : <%= idol.rank.to_i %></span>
                                <% end %>
                            </div>
                        </div>
                        <div class="ranking-cover"></div>
                    <% end %>
                </div>
            <% end %>
            <%= paginate @idols %>
        </div>
        <div class="col-sm-3">
            <%= render 'layouts/right' %>
        </div>
    </div>
</div>
