<div class="page-header" style="width:780px">
  <h1 class="title">Top Idols</h1>
</div>
<div class="container" style="width: 1040px">
    <div class="row">
        <div class="col-sm-9">
            <% @idols.each do |idol| %>
                <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                    <%= link_to idol_path(idol), class: 'thumbnail' do %>
                        <%= image_tag idol.avatar.url, class: "img-responsive" %>
                    <% end %>
                    <h4 class="idol-name"><%= idol.name %></h4>
                </div>
            <% end %>
            <%= paginate @idols %>
        </div>
        <div class="col-sm-3">
            <%= render 'layouts/right' %>
        </div>
    </div>
</div>
