<div class="aside-nolog">
    <h3><a class="idol-sumited" href="<%= register_guest_index_path %>">ĐĂNG KÝ LÀM VJ</a></h3>
    <h3>FANPAGE</h3>
    <div class="mobile-download">
        <div class="fb-page" data-href="https://www.facebook.com/RDitsmevn" data-width="260" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RDitsmevn" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RDitsmevn">RD - Itsme</a></blockquote></div>
    </div>
</div>
<hr />
<div class="aside-nolog">
    <h3>DOWNLOAD</h3>
    <div class="mobile-download">

        <div class="icon">
            <%= image_tag "Icon_Googleplay.png" %>
            <a href="https://play.google.com/store/apps/details?id=th.media.itsme" target="_blank" class="btn05">Download</a>
        </div>
    </div>
    <div class="mobile-download">

        <div class="icon">
            <%= image_tag "Icon_Appstore.png" %>
            <a href="https://itunes.apple.com/la/app/itsme-live-streaming-show/id1112896031?mt=8" target="_blank" class="btn05">Download</a>
        </div>
    </div>

</div>
<hr />
<div class="aside-nolog">
    <h3>RANKING</h3>
    <div class="col-sm-12 ranking-section">
         <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Week</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Month</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">All</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="col-sm-12 no-padding tab-pane active" id="home">
                <% Rank.by_week.take(20).each_with_index do |rank, index| %>
                    <div class="col-sm-12 no-padding ranking-item">
                    <div class="col-sm-2 no-padding">
                        <center>
                            <i class="fa fa-caret-up <%= rank.transform_week == true ? 'active' : '' %>" aria-hidden="true"></i>
                            <i class="fa fa-caret-down <%= rank.transform_week == false ? 'active' : '' %>" aria-hidden="true"></i>
                        </center>
                        <h4><%= index + 1 %></h4>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <%= image_tag rank.idol.avatar, class: 'img-circle ranking-idol-avatar' %>
                        <% end %>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <h6 class="ranking-idol-name"><%= rank.idol.name %></h6>
                        <% end %>
                    </div>
                    </div>
                <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <% Rank.by_month.take(20).each_with_index do |rank, index| %>
                    <div class="col-sm-12 no-padding ranking-item">
                    <div class="col-sm-2 no-padding">
                        <center>
                            <i class="fa fa-caret-up <%= rank.transform_month == true ? 'active' : '' %>" aria-hidden="true"></i>
                            <i class="fa fa-caret-down <%= rank.transform_month == false ? 'active' : '' %>" aria-hidden="true"></i>
                        </center>
                        <h4><%= index + 1 %></h4>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <%= image_tag rank.idol.avatar, class: 'img-circle ranking-idol-avatar' %>
                        <% end %>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <h6 class="ranking-idol-name"><%= rank.idol.name %></h6>
                        <% end %>
                    </div>
                    </div>
                <% end %>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <% Rank.by_all.take(20).each_with_index do |rank, index| %>
                    <div class="col-sm-12 no-padding ranking-item">
                    <div class="col-sm-2 no-padding">
                        <center>
                            <i class="fa fa-caret-up <%= rank.transform == true ? 'active' : '' %>" aria-hidden="true"></i>
                            <i class="fa fa-caret-down <%= rank.transform == false ? 'active' : '' %>" aria-hidden="true"></i>
                        </center>
                        <h4><%= index + 1 %></h4>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <%= image_tag rank.idol.avatar, class: 'img-circle ranking-idol-avatar' %>
                        <% end %>
                    </div>
                    <div class="col-sm-5 no-padding">
                        <%= link_to idol_path(rank.idol), class: 'link' do %>
                            <h6 class="ranking-idol-name"><%= rank.idol.name %></h6>
                        <% end %>
                    </div>
                    </div>
                <% end %>
            </div>
          </div>
    </div>
</div>

<% unless Manager.all.count.zero? %>
<hr/>
<div class="aside-nolog" style="margin-top:20px">
    <h3>TEAM LEADER</h3>
    <div class="col-sm-12 ranking-section" style="padding-top: 10px">
        <% Manager.all.each do |manager| %>
            <div class="col-sm-12 no-padding ranking-item">
                <div class="rows no-padding">
                    <div class="col-sm-5">
                        <%= image_tag manager.avatar, class: 'img-circle team-avatar' %>
                    </div>
                    <div class="col-sm-7 manager-info">
                        <h4 class="manager-name"><%= manager.fullname %></h4><br />
                        <h4 class="manager-contact">
                            <% unless manager.facebook.blank? %>
                                <%= link_to manager.facebook, target: '_blank' do %>
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                <% end %>
                            <% end %>
                            <% unless manager.email.blank? %>
                                <%= mail_to manager.email do %>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <% end %>
                            <% end %>
                        </h4>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<% end %>

<% if current_user %>
    <hr/>
    <div class="aside-nolog" style="margin-top:20px">
        <h3>MY PROFILE</h3>
        <%= link_to profile_logged_index_path, class:"btn bn-logout" do %>
            <i class="fa fa-user" aria-hidden="true"></i> Profile
        <% end %>
        <%= link_to new_password_logged_index_path, class:"btn bn-logout" do %>
            <i class="fa fa-key" aria-hidden="true"></i> Change Password
        <% end %>
        <%= link_to destroy_user_session_path, class:"btn bn-logout" do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
        <% end %>
    </div>
<% else %>
    <hr />
    <h3>MY PROFILE</h3>
    <div class="aside-nolog" style="margin-top:20px">
        <%= link_to "Log in", new_session_path(User.new) %>
    </div>
<% end %>